#admin-options-wrapper {
	height: 100%;
	width: 600px;
	margin-left: 15%;
	background-color: rgba(200,200,200,0.2);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/*outline: 4px solid white; */

}

#admin-options {
	margin: 25px; 
}

/*#wrapper, #admin-options-wrapper::before {
	background: url(images/lowpoly.png) 0 / cover fixed;
}*/

#admin-options-wrapper::before {
	content: '';
  	margin: 0;
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	filter: blur(20px);
  	z-index: -1;
}

ul {
	/*list-style: none;*/
	color: white;
}

li {
	padding: 25px;
	/*margin-left: -45px;*/
}

h3 {
	font-size: 40px;
	font-weight: 500;
	color: white;
	padding-bottom: 15px;
}

a {
	font-size: 32px;
	font-weight: 500;
	color: white;
	text-decoration: none;
	letter-spacing: 7px;
	padding-bottom: 10px; 
	position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}