:root {
	--color-dark: #2C2A4A;
	--color-darker: #3c3c5c; 
	--color-light: #4F518C;
	--color-highlight: #907AD6;
	--color-highlight2: #DABFFF;
	--color-text: #EDE0FF;
	--color-header: purple;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--color-light);
}

a, p, h1, h2, h3, label, input, ::placeholder {
	font-family: Century Gothic, Arial, sans-serif;
}

h1 {
	font-size: 16px;
}

#wrapper {
	height: 100%;
	width: 100%;
	background-image: url("../images/lowpoly.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}