<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Studentska sluzba</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/admin-style.css" th:href="@{/css/admin-style.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div id="admin-options-wrapper">
			<div id="admin-options">
				<h3>Manage:</h3>
				<ul>
					<li><a href="students.html">Students</a></li>
					<li><a href="staff.html">Staff</a></li>
					<li><a href="courses.html">Courses</a></li>
					<li><a href="majors.html">Majors</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>