<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Studentska sluzba</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/data-style.css" th:href="@{/css/data-style.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<header>
			<h1><a href="admin">Admin</a> / Smerovi</h1>
			<div id="user">
				<p>Ime Prezime</p>
				<img src="../images/user-img.bmp" id="user-img">
			</div>
		</header>
		<div id="content">
			<div id="content-header">
				<form action="/get_students" id="search" method="get" target="dataframe">
					<input type="text" id="searchbar" value="" placeholder="Search...">

					<div class="form-element">
						<label for="date_of_birth">Datum rodjenja:</label>
						<select name="date_of_birth" onchange="this.form.submit()">
							<option>all</option>
						</select>
					</div>

					<div class="form-element">
						<label for="city">Grad:</label>
						<select type="text" name="city" onchange="this.form.submit()">
							<option>all</option>
						</select>
					</div>

					<div class="form-element">
						<label for="major">Smer:</label>
						<select type="text" name="major" onchange="this.form.submit()">
							<option>all</option>
						</select>
					</div>

					<div class="form-element">
						<label for="order_by">Redosled:</label>
						<select type="text" name="order_by" value="birthyear-asc" onchange="this.form.submit()">
							<option>birthyear-asc</option>
						</select>
					</div>
					
					<input type="submit" value="S">
				</form>
				<button onclick="showAddStudentForm();">+</button>
			</div>
			<table>
				<tr>
					<th>Ime</th><th>Prezime</th><th>Indeks</th>
				</tr>

				<tr>
					<td>Danijel</td><td>Andjelkovic</td><td>32/2018</td>
				</tr>

			</table>
		</div>

		 <iframe src="login" name="dataframe" id="dataframe" title="data"></iframe> 
	</div>
</body>
</html>