<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/student-style.css" th:href="@{/css/student-style.css}"/>
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico" th:href="@{/favicon.ico}">
	<meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<script type="text/javascript" language="Javascript" src="../static/js/token.js" th:src="@{/js/token.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/student-loader.js" th:src="@{/js/student-loader.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/student-loader-part2.js" th:src="@{/js/student-loader-part2.js}"></script>
	<script type="text/javascript" language="Javascript" src="../static/js/showTable.js" th:src="@{/js/showTable.js}"></script>
</head>
<body onload="getToken(); getIndex(); fillTables(); statusBudget(); fillTable456();">
	<div id = "wrapper" style="background-image: url('../images/lowpoly.png');">
		<header>
			<h1>Student</h1>
			<div id="user">
				<p><b><span id = "Ime"></span> <span id = "Prezime"></span></b></p>
				<img src="../static/images/user-img.bmp" id="user-img" th:src="@{/images/user-img.bmp}"/>
				<div id="user-options">
					<button type="button" onclick="toggleElementById('update-self');">Edit user</button>
					<button type="button" onclick="makeRequest('/logout_req','sendframe', [], function(){window.location.replace('/login');});">Log out</button>
				</div><!--close user options-->
			</div><!--close user-->
		</header>
		<div id = "content">
			<div id = "picture-info">
				<div id = "background-pic-name">
					<img src="../static/images/user-img.bmp" id="user-img-info" th:src="@{/images/user-img.bmp}"/>
					<p><b><span id = "Ime1"></span> <span id = "Prezime1"></span></b></p>
				</div><!--close background picture name-->
				<table id = "table1">
					<tr>
						<th>Br. indeksa</th>
						<th>JMBG</th>
					</tr>
					<tr>
						<td id = "Broj_indeksa"></td>
						<td id = "JMBG"></td>
					</tr>
				</table><!--close table 1-->
			</div><!--close picture info-->
			<div class = "tables">
			<table id = "table2">
				<tr>
					<th>Studije</th>
					<td id = "Studije">Osnovne akademske</td>
				</tr>
				<tr>
					<th>Smer</th>
					<td id = "Smer"></td>
				</tr>
				<tr>
					<th>Centar</th>
					<td>Kragujevac</td>
				</tr>
				<tr>
					<th>Prosek</th>
					<td id = "Prosek"></td>
				</tr>
			</table><!--close table 2-->
			<table id = "table3">
				<tr>
					<th>Godina upisa</th>
					<td id = "Godina_upisa"></td>
				</tr>
				<tr>
					<th>Godina studija</th>
					<td id = "Godina_studija"></td>
				</tr>
				<tr>
					<th>ESPB</th>
					<td id = "ESPB"></td>
				</tr>
				<tr>
					<th>Status</th>
					<td id = "Status"></td>
				</tr>
			</table><!--close table 3-->
		</div><!--close class tables-->
		<input type="button" class = "button" name = "button1" value="Upisani predmeti" onclick='showTable4();'>
		<input type="button" class = "button" name = "button2" value="Prijava ispita" onclick='showTable5();'>
		<input type="button" class = "button" name = "button3" value="Ispitni rokovi" onclick='showTable6();'>
			<table id = "table4" style = "visibility: visible;">
				<tr>
					<th colspan = "6">Upisani Predmeti</th>
				</tr>
				<tr>
					<th>Predmet</th>
					<th>IDPredmet</th>
					<th>Godina</th>
					<th>ESPB</th>
					<th>Profesor</th>
					<th>Smer</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table><!--close table 4-->
		<table id = "table5" style = "visibility: hidden;">
				<tr>
					<th colspan = "6">Prijava ispita</th>
				</tr>
				<tr>
					<th>Predmet</th>
					<th>IDPredmet</th>
					<th>Godina</th>
					<th>ESPB</th>
					<th>Profesor</th>
					<th>Smer</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
		</table><!--close table 5-->
		<table id = "table6" style = "visibility: hidden;">
			<tr>
				<th colspan = "7">Ispitni rokovi</th>				</tr>
				<tr>
					<th>Ispitni rok</th>
					<th>Predmet</th>
					<th>IDPredmet</th>
					<th>Godina</th>
					<th>ESPB</th>
					<th>Profesor</th>
					<th>Smer</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				<td></td>
			</tr>
		</table><!--close table 6-->
		</div><!--close content-->
	</div><!--close wrapper-->
	<iframe src="" name="sendframe" id="sendframe"></iframe>
</body>
</html>