<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Studentska sluzba</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/data-style.css" th:href="@{/css/data-style.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<header>
			<h1>Studenti</h1>
			<div id="user">
				<p>Ime Prezime</p>
				<img src="../images/user-img.bmp" id="user-img">
			</div>
		</header>
		<div id="content">
			<div id="content-header">
				<form action="/search" id="search">
					<input type="text" name="searchterms" id="searchbar" value="" placeholder="Search...">
					<input type="submit" value="S">
				</form>
				<button onclick="showAddStudentForm();">+</button>
			</div>
			<table>
				<tr>
					<th>Ime</th><th>Prezime</th><th>Indeks</th>
				</tr>

				<tr>
					<td>Danijel</td><td>Andjelkovic</td><td>32/2018</td>
				</tr>

			</table>
		</div>
	</div>
</body>
</html>